project_root/videos/** filter=lfs diff=lfs merge=lfs -text
project_root/out/qc/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
project_root/out/qc/**/*.m4v filter=lfs diff=lfs merge=lfs -text
project_root/out/qc/**/*.avi filter=lfs diff=lfs merge=lfs -text
project_root/out/qc/**/*.mov filter=lfs diff=lfs merge=lfs -text
